.form_contenedor {
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-content: space-between;
}


.form_contenedor--titulo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 2rem;
    height: 38px;
    line-height: 2.35rem;
    width: 100%;
}

.form_contenedor--gral {
    background-color: white;
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway';
    font-weight: 400;
    height: 40px;
    justify-content: space-around;
    padding: 8px 12px 8px 12px;
}

.form_contenedor--gral-label{
    color: #a2a2a2;
    font-size: 12px;
    line-height: 16px;
}

.form_contenedor--gral-input {
    border: none;
    border-bottom: #a2a2a2;
    color: black;
    font-size: 16px;
    line-height: 20px;
}

.form_contenedor--descripcionP {
    background-color: white;
    border-bottom: 1px solid gray;
    font-family: 'Raleway';
    font-weight: 400;
    height: 82px;
    justify-content: space-around;
    padding-top: 8px;
}

.form_contenedor--descripcionP-input{
    border: none;
    width: 38.4vw;
}

.form_contenedor--botonCP {
    color: white;
    background-color: #2A7AE4;
    border: none;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 16px;
    height: 51px ;
    line-height: 19px;
    width: 100%;
}

@media (max-width:768px) {
    .form_contenedor--titulo {
        font-size: 1.375rem;
        height: 26px;
        line-height: 1.61rem;
    }

    .form_contenedor--descripcionP-input{
        width: 79vw;
    }
}

@media (max-width:717px) {
    .form_contenedor--descripcionP-input{
        width: 91vw;
    }
}