html {
    font-size: 100%;
}

.cabecera {
    grid-area: cabecera;
    grid-column: 1 / span 3;
    height: 115px;
}

.cabecera-superior {
    display: grid;
    grid-template-columns: 12vw 54.4vw 12.6vw;
    height: 83px;
    margin-left: 10.5vw;
    margin-top: 32px;
    width: 79vw;
}

.cabecera-emblema {
    background: url("../img/LogoSup.svg") no-repeat center;
    background-size: 12vw;
    grid-column: 1;
    height: 50px;
    width: 12vw;
}

.cabecera-busqueda {
    align-items: baseline;
    background-color: #edeeec;
    border-radius: 20px;
    border-style: hidden;
    display: flex;
    flex-direction: row;
    font-family: 'Raleway';
    font-size: 0.875rem;
    grid-column: 2 / 3;
    grid-row: 1;
    height: 40px;
    justify-content: space-between;
    line-height: 1rem;
    margin-left: 32px;
    margin-top: 5px;
    padding-left: 16px;
    width: 28vw;
}

.cabecera-busqueda-input{
    height: 40px;
    background-color: transparent;
    border-radius: 20px;
    border-style: hidden;
    outline: none;
    width: 54.4vw;
}

.cabecera-busqueda-icono{
    color: grey;
    font-family: 'FontAwesome';
    height: 24px;
    margin-right: 10px;
    width: 24px;
}

.cabecera-botonLogin {
    background-color: transparent;
    border-color: #2a7ae4;
    border-style: dark;
    border-width: 1px;
    color: #2a7ae4;
    font-family: 'Raleway';
    font-size: 1rem;
    font-weight: 400;
    grid-column: 3 / 4;
    grid-row: 1;
    height: 50px;
    line-height: 18.78px;
    justify-self: right;
    width: 12.6vw;
}

.cabecera-botonMenuAdmin {
    background-color: transparent;
    border-color: #2a7ae4;
    border-style: dark;
    border-width: 1px;
    color: #2a7ae4;
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 400;
    grid-column: 3 / 4;
    grid-row: 1;
    height: 50px;
    line-height: 18.78px;
    justify-self: right;
    width: 182px;
}


@media (max-width: 970px) {
    .cabecera-superior {
        grid-template-columns: 13vw 57vw 21.6vw;
        height: 56px;
        margin-left: 4.2vw;
        margin-top: 16px;
        width: 91.6vw;
    }

    .cabecera-emblema {
        background-size: 13vw;
        height: 40px;
        width: 13vw;
    }

    .cabecera-busqueda {
        margin-top: 0px;
        width: 35.4vw;
    }

    .cabecera-botonLogin {
        width: 21.6vw;
    }

    .cabecera-botonMenuAdmin {
        font-size: 14px;
        font-weight: 600;
        height: 40px;
        line-height: 16px;
        width: 160px;
    }

}

@media (max-width:740px) {
    .cabecera-superior {
        display: grid;
        grid-template-columns: 37.6vw 36.8vw 16.6vw;
        height: 56px;
        margin-left: 4.5vw;
        margin-top: 16px;
        width: 91vw;
    }

    .cabecera-emblema {
        background: url("../img/LogoSup.svg") no-repeat center;
        background-size: 27vw;
        grid-column: 1;
        margin-top: 6px;
        height: 28px;
        width: 27vw;
    }

    .cabecera-busqueda {
        background-color: transparent;
        grid-column: 3;
        height: 24px;
        margin-top: 8px;
        width: 24px;
    }

    .cabecera-busqueda-input{
        background-color: none;
        display: none;
    }

    .cabecera-busqueda-icono {
        font-size: 17px;
        height: 24px;
        margin-left: 3px;
        margin-right: 0px;
        margin-top: 3px;
        width: 24px;
    }

    .cabecera-botonLogin {
        font-size: 14px;
        font-weight: 400;
        grid-column: 2 / 3;
        grid-row: 1;
        height: 40px;
        line-height: 16px;
        justify-self: left;
        width: 37vw;
    }

    .cabecera-botonMenuAdmin {
        font-size: 14px;
        font-weight: 400;
        grid-column: 2 / 3;
        grid-row: 1;
        height: 40px;
        line-height: 16px;
        justify-self: left;
        width: 160px;
    }
}