.contenido {
    display: inline-block;
    background-color: gray;
    grid-area: contenido;
    grid-column: 2 / 3;
}

.contenido-producto {
    background-color: darkolivegreen;
    height: 306px;
    margin-top: 64px;
}

.producto-titulo {
    background: tan;
    display: flex;
    flex-direction: row;
    height: 38px;
    justify-content: space-between;
    width: 100%;
}

.producto-titulo-contenido {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.31rem;
}

.producto-boton {
    color: #2A7AE4;
    background: none;
    border: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    height: 24px;
    width: 97px;
}

.producto-estante {
    background-color: rgb(227, 193, 129);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 252px;
    justify-content: space-between;
    margin-top: 16px;
    width: 100%;
}

.producto-unidad {
    /*display: block;*/
    height: 252px;
    width: 176px;
}

.unidad-img {
    background: no-repeat center;
    background-size: cover;
    height: 174px;
    width: 176px;
}

.unidad-descripcion {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 14px;
    height: 16px;
    line-height: 16px;
    margin-top: 8px;
}

.unidad-precio {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 16px;
    margin-top: 8px;
    height: 19px;
    line-height: 18px;
}

.unidad-link {
    color: #2A7AE4;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 16px;
    margin-top: 10px;
    height: 19px;
    line-height: 19px;
}

@media (max-width: 1430px) {
    .oculto1 {
        display: none;
    }
}

@media (max-width: 1190px) {
    .oculto2 {
        display: none;
    }

    .producto-unidad {
        width: 164px;
    }

    .unidad-img {
        width: 164px;
    }

}

@media (max-width:767px) {
    .contenido {
        height: 1764px;
    }

    .contenido-producto {
        height: 588px;
        margin-top: 16px;
    }

    .producto-titulo {
        height: 26px;
    }

    .producto-titulo-contenido {
        font-size: 1.375rem;
        line-height: 1.625rem;
    }

    .producto-boton {
        font-size: 16px;
        height: 24px;
        line-height: 19px;
        width: 97px;
    }

    .producto-estante {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-grow: 2;
        margin-top: 0px;
    }

    .producto-unidad {
        margin-top: 16px;
        width: 164px;
    }

    .unidad-img {
        width: 164px;
    }

}

@media (max-width: 740px){
    .producto-estante {
        margin-top: 16px;
    }
}

@media (max-width: 717px) {
    .producto-estante {
        height: 535px;
    }
}


@media (max-width: 360px) {
    .producto-boton {
        font-size: 14px;
        height: 16px;
        line-height: 19px;
        width: 97px;
    }

    .producto-unidad {
        width: 156px;
    }

    .unidad-img {
        width: 156px;
    }
}