.rodapie {
    grid-area: rodapie;
    grid-column: 1 / 4;
}

.rodapie-contacto {
    background-color: #EAF2FD;
    height: 368px;
    vertical-align: middle;
}

.rodapie-contacto-contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 79vw;
    height: 240px;
    margin-left: 10.5vw;
    padding-top: 64px;
}

.contacto-img {
    height: 50px;
    width: 176px;
}

.contacto-links {
    display: flex;
    color: #464646;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 16px;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    line-height: 19px;
    width: 176px;
}

.contacto-forms {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    width: 39vw;
}

.forms-titulo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 16px;
    height: 19px;

}

.form-nombre {
    background-color: white;
    border-bottom: 1px solid gray;
    color: #464646;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 16px;
    height: 56px;
    line-height: 16px;
}

.nombre-label{
    font-size: 12px;
    height: 16px;
    margin-top: 8px;
}

.input-nombre {
    border: none;
    height: 32px;
}


.input-mensaje {
    border: none;
    border-bottom: 1px solid gray;
    height: 82px;
}

span {
    color: black;
    height: 20px;
    font-size: 18px;
}

.alerta {
    background-color: burlywood;
    padding-bottom: 15px;
}

.forms-boton-enviar {
    border: none;
    color: white;
    background-color: #2A7AE4;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 16px;
    height: 51px;
    line-height: 19px;
    width: 144px;
}

.rodapie-desarrollador {
    height: 102px;
}

.desarrollador {
    text-align: center;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-top: 32px;
    margin-left: calc((100vw - 300px)/2);
    width: 300px;
}

@media (max-width:1170px) {
    .rodapie-contacto-contenedor {
        flex-direction: column;
        flex-wrap: wrap;
        height: 300px;
        margin-left: 10.5vw;
        padding-top: 32px;
        width: 79vw;
    } 

    .contacto-img {
        height: 50px;
        width: 15vw;
    }

    .contacto-links {
        height: 234px;
        margin-top:16px;
        width: 15vw;
    }

    .contacto-forms {
        margin-left: 7.5vw;
        width: 56.5vw;
    }
}

@media (max-width: 970px){
    .rodapie-contacto-contenedor {
        align-items: center;
        margin-left: 4.1vw;
        width: 91.8vw;
    } 

    .contacto-img {
        width: 33vw;
    }

    .contacto-links {
        width: 33vw;
    }

    .contacto-forms {
        margin-left: 20px;
        width: 56.5vw;
    }
}

@media (max-width:740px){
    .rodapie-contacto {
        height: 655px;
    }

    .rodapie-contacto-contenedor {
        height: 655px;
        justify-content: space-around;
        margin-left: 4.5vw;
        padding-top: 0px;
        width: 91vw;
    } 

    .contacto-links {
        align-items: center;
        height: 194px;
        margin-top:16px;
        width: 100%;
    }

    .contacto-forms {
        margin-left: 0px;
        width: 100%;
    }

    .desarrollador {
        margin-left: 18.5vw;
        width: 63vw;
    }
}