.mallado {

}

.cabecera {
    background-color: blanchedalmond;
    height:467px ;
}

.cabecera-menu {
    background-color: aquamarine;
    height: 115px;
    width: 1136px;
    margin-left:11%;
}




.cabecera-banner {
    height: 352px;
}

.cabecera-banner-img {
    background: url("../img/banner-sup.png") no-repeat center;
    width:1440px;
    height:352px;
}